<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>

<style>
.tooltip {
  position: relative;
  display: inline-block;
  width:100%;
  margin-left:220px;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


</style>
<body>
<h3><a sec:authorize="${!isAuthenticated()}" th:href="@{/login}">Login</a></h3>
<h3><a sec:authorize="${isAuthenticated()}" th:href="@{/logout}">Logout</a></h3>
<div align="center">
    <H1>Posts</H1>
    <a th:href="@{/newPost}">Add Post</a>
    <a th:href="@{/register}">Register User</a>
    <br>
    <br>
    <div th:if="${totalPages > 0|| totalPages!=null}">
        <a th:href="@{'/?sortField=publishedAt&order=asc&start='+${start}+ '&limit='+${limit}}">Sort ASC</a>
        <a th:href="@{'/?sortField=publishedAt&order=desc&start='+${start}+ '&limit='+${limit}}">Sort DESC</a>
        <br>
        <br>
    </div>
    <span>
        <form th:action="@{/?search=}" method="GET">
            <input type="text" placeholder="Search" name="search">
            <button type="submit">Search</button>
        </form>
    </span>
    <br>

    <div class="tooltip" align="center">Filter
        <span class="tooltiptext">Append the URL like this /abc.com/?authorId="1"&tagId="1"&tagId="2"</span>
    </div>
    <p>------------------------------------------------------</p>

    <div th:each="post :${posts}">
        <h1 th:text="${post.title}"></h1>
        <h5 th:text="'Author-'+${post.author}"></h5>
        <h6 th:text="'created at-'+${post.createdAt}"></h6>
        <h3 th:text="${post.excerpt}+'...'"></h3>
        <a href="#" th:href="@{'/fullPost/'+${post.id}}">Read More</a>
        <p>------------------------------------------------------</p>
    </div>

    <div th:if="${totalPages > 0|| totalPages!=null}">
        <div class="row col-sm-10">
            <div class="col-sm-1">
                    <span th:each="i: ${#numbers.sequence(0, totalPages-1)}">
                        <a th:text="${i+1}" th:href="@{'/?start=' +${(i*limit)+1}+ '&limit=' +${limit}}"></a>
                    </span>
            </div>
        </div>
    </div>

</div>
</div>
</body>
</html>